h1{
   color: rgb(244, 157, 157);
   text-align: center;
   margin-top: 20px;
}
.contenidoActividades{
    justify-content: center;
    text-align: left;
}
.tareaNueva{
    border: none;
}
.tareasFaltantes{
    font-size: 12px;
    color: grey;
    border-right: solid 1px ;
    border-left: solid 1px ;
    border-bottom: solid 1px ;
    border-color: grey;
}
.tareaPorHacer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-underline-position: auto;
}
a:link {
    text-decoration: none;
}
.contenidoTarea{
    width: 100%;
    height: 100%;
}
button{
    color: #ff000000;
    background-color: #ff000000;
    border: none;
    width: 100%;
    height: 100%
}
.textoTarea{
    color: grey
}